<h1>Admin::Dashboard#show</h1>

<h4> You have <%= link_to @product_count, [:admin, :products] %> products in total. </h4>
<h4> You have <%= link_to @category_count, [:admin, :products] %> categories of products in total. </h4>
